In [1]:
import geopandas as gpd
import pandas as pd

# Provide the path to your shapefile (replace 'path/to/your/shapefile.shp' with the actual path)
shapefile_path = 'results_2.shp'

# Read the shapefile into a GeoDataFrame
gdf = gpd.read_file(shapefile_path)

# Display the GeoDataFrame
print(gdf)

                  DBA  Technology  OBJECTID        APN  FLAG      MAIL_STREE  \
0     VerizonWireless          85    193566  289180017  None  23210 LYNCH RD
1            T-Mobile          80    193566  289180017  None  23210 LYNCH RD
2       AT&T Mobility          86    193566  289180017  None  23210 LYNCH RD
3            T-Mobile          81    193566  289180017  None  23210 LYNCH RD
4       AT&T Mobility          80    193566  289180017  None  23210 LYNCH RD
...               ...         ...       ...        ...   ...             ...
4031    AT&T Mobility          86    184058  287230001    EX    P O BOX 1180
4032         T-Mobile          83    184058  287230001    EX    P O BOX 1180
4033         T-Mobile          81    184058  287230001    EX    P O BOX 1180
4034    AT&T Mobility          80    184058  287230001    EX    P O BOX 1180
4035           Sprint          85    184058  287230001    EX    P O BOX 1180

               MAIL_CITY      SITUS_STRE        SITUS_CITY  STREET_NUM  ...  \
0        PERRIS CA 92570  23210 LYNCH RD  PERRIS  CA 92570     23210.0  ...
1        PERRIS CA 92570  23210 LYNCH RD  PERRIS  CA 92570     23210.0  ...
2        PERRIS CA 92570  23210 LYNCH RD  PERRIS  CA 92570     23210.0  ...
3        PERRIS CA 92570  23210 LYNCH RD  PERRIS  CA 92570     23210.0  ...
4        PERRIS CA 92570  23210 LYNCH RD  PERRIS  CA 92570     23210.0  ...
...                  ...             ...               ...         ...  ...
4031  RIVERSIDE CA 92502            None              None         NaN  ...
4032  RIVERSIDE CA 92502            None              None         NaN  ...
4033  RIVERSIDE CA 92502            None              None         NaN  ...
4034  RIVERSIDE CA 92502            None              None         NaN  ...
4035  RIVERSIDE CA 92502            None              None         NaN  ...

     TAX_RATE_A     LAND STRUCTURES           PRIMARY_OW  \
0        087031  61809.0   387836.0    ERIC P. HJERMSTAD
1        087031  61809.0   387836.0    ERIC P. HJERMSTAD
2        087031  61809.0   387836.0    ERIC P. HJERMSTAD
3        087031  61809.0   387836.0    ERIC P. HJERMSTAD
4        087031  61809.0   387836.0    ERIC P. HJERMSTAD
...         ...      ...        ...                  ...
4031       None      NaN        NaN  COUNTY OF RIVERSIDE
4032       None      NaN        NaN  COUNTY OF RIVERSIDE
4033       None      NaN        NaN  COUNTY OF RIVERSIDE
4034       None      NaN        NaN  COUNTY OF RIVERSIDE
4035       None      NaN        NaN  COUNTY OF RIVERSIDE

                              ALL_OWNER_    SHAPESTAre    SHAPESTLen  \
0     ERIC P. HJERMSTAD; ROSANNA ROBERTS  2.158900e-10  1.967000e-12
1     ERIC P. HJERMSTAD; ROSANNA ROBERTS  2.158900e-10  1.967000e-12
2     ERIC P. HJERMSTAD; ROSANNA ROBERTS  2.158900e-10  1.967000e-12
3     ERIC P. HJERMSTAD; ROSANNA ROBERTS  2.158900e-10  1.967000e-12
4     ERIC P. HJERMSTAD; ROSANNA ROBERTS  2.158900e-10  1.967000e-12
...                                  ...           ...           ...
4031                 COUNTY OF RIVERSIDE  2.739152e-09  6.711000e-12
4032                 COUNTY OF RIVERSIDE  2.739152e-09  6.711000e-12
4033                 COUNTY OF RIVERSIDE  2.739152e-09  6.711000e-12
4034                 COUNTY OF RIVERSIDE  2.739152e-09  6.711000e-12
4035                 COUNTY OF RIVERSIDE  2.739152e-09  6.711000e-12

     STREET_P_1  BLOCK_y                                           geometry
0          None     None  POLYGON ((-117.38111 33.78417, -117.38111 33.7...
1          None     None  POLYGON ((-117.38111 33.78417, -117.38111 33.7...
2          None     None  POLYGON ((-117.38111 33.78417, -117.38111 33.7...
3          None     None  POLYGON ((-117.38111 33.78417, -117.38111 33.7...
4          None     None  POLYGON ((-117.38111 33.78417, -117.38111 33.7...
...         ...      ...                                                ...
4031       None     None  POLYGON ((-117.35850 33.81453, -117.35848 33.8...
4032       None     None  POLYGON ((-117.35850 33.81453, -117.35848 33.8...
4033       None     None  POLYGON ((-117.35850 33.81453, -117.35848 33.8...
4034       None     None  POLYGON ((-117.35850 33.81453, -117.35848 33.8...
4035       None     None  POLYGON ((-117.35850 33.81453, -117.35848 33.8...

[4036 rows x 37 columns]

In [2]:
filt = gdf[gdf.OBJECTID == 193566]

In [3]:
filt

,DBA,Technology,OBJECTID,APN,FLAG,MAIL_STREE,MAIL_CITY,SITUS_STRE,SITUS_CITY,STREET_NUM,...,TAX_RATE_A,LAND,STRUCTURES,PRIMARY_OW,ALL_OWNER_,SHAPESTAre,SHAPESTLen,STREET_P_1,BLOCK_y,geometry
0,VerizonWireless,85,193566,289180017,None,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,None,None,"POLYGON ((-117.38111 33.78417, -117.38111 33.7..."
1,T-Mobile,80,193566,289180017,None,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,None,None,"POLYGON ((-117.38111 33.78417, -117.38111 33.7..."
2,AT&T Mobility,86,193566,289180017,None,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,None,None,"POLYGON ((-117.38111 33.78417, -117.38111 33.7..."
3,T-Mobile,81,193566,289180017,None,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,None,None,"POLYGON ((-117.38111 33.78417, -117.38111 33.7..."
4,AT&T Mobility,80,193566,289180017,None,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,None,None,"POLYGON ((-117.38111 33.78417, -117.38111 33.7..."
5,Sprint,85,193566,289180017,None,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,None,None,"POLYGON ((-117.38111 33.78417, -117.38111 33.7..."

In [4]:
dis_filt = gdf.dissolve(by = 'DBA')

In [5]:
dis_filt

,geometry,Technology,OBJECTID,APN,FLAG,MAIL_STREE,MAIL_CITY,SITUS_STRE,SITUS_CITY,STREET_NUM,...,CAME_FROM,TAX_RATE_A,LAND,STRUCTURES,PRIMARY_OW,ALL_OWNER_,SHAPESTAre,SHAPESTLen,STREET_P_1,BLOCK_y
DBA,,,,,,,,,,,,,,,,,,,,,
AT&T Mobility,"MULTIPOLYGON (((-117.38434 33.78602, -117.3843...",86,193566,289180017,EX,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,289180010,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,S,J
Sprint,"MULTIPOLYGON (((-117.37999 33.78417, -117.3799...",85,193566,289180017,EX,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,289180010,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,S,J
T-Mobile,"MULTIPOLYGON (((-117.38109 33.78602, -117.3800...",80,193566,289180017,EX,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,289180010,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,S,J
VerizonWireless,"MULTIPOLYGON (((-117.38434 33.78602, -117.3843...",85,193566,289180017,EX,23210 LYNCH RD,PERRIS CA 92570,23210 LYNCH RD,PERRIS CA 92570,23210.0,...,289180010,087031,61809.0,387836.0,ERIC P. HJERMSTAD,ERIC P. HJERMSTAD; ROSANNA ROBERTS,2.158900e-10,1.967000e-12,S,J

In [6]:
distinct_values = gdf['OBJECTID'].unique()

In [7]:
distinct_values

array([193566, 185065, 197487, 184725, 198558, 198385, 193678, 192212,
       185072, 199742, 192243, 185070, 192213, 199741, 184612, 198513,
       197626, 184727, 193922, 185217, 184689, 193825, 195000, 198384,
       198344, 199735, 199988, 199987, 200013, 185220, 197735, 197708,
       195120, 197736, 195119, 195118, 184796, 200012, 195121, 185218,
       195429, 198843, 197999, 194239, 200263, 198890, 194240, 198892,
       194242, 200261, 192372, 193569, 195122, 184797, 197737, 200014,
       185067, 195123, 195083, 193921, 184795, 185219, 185216, 197664,
       184726, 195038, 192281, 198560, 192245, 192370, 197662, 198578,
       192255, 198577, 197665, 193866, 192244, 185150, 193865, 198559,
       195087, 192371, 195086, 195085, 192282, 195041, 192283, 193920,
       197707, 194830, 195084, 192284, 198579, 195040, 193919, 197706,
       197705, 198580, 185184, 195039, 195258, 194096, 184801, 195256,
       185390, 192571, 192751, 194008, 194012, 195257, 198841, 198840,
       197997, 194103, 184968, 197996, 192755, 185051, 185052, 185454,
       197941, 194015, 184920, 200072, 197781, 200074, 197787, 185284,
       200071, 195254, 241117, 230905, 247134, 240873, 244035, 231575,
       230732, 231475, 231474, 230731, 192576, 192577, 185287, 198646,
       195255, 197786, 230730, 199903, 247037, 230733, 240869, 240870,
       194942, 247036, 198000, 192064, 240872, 198462, 240871, 247038,
       194104, 200211, 184665, 193736, 198460, 191988, 199901, 184666,
       197549, 198461, 200215, 197550, 240834, 195431, 185458, 184667,
       231576, 192797, 240832, 240833, 191989, 192063, 185125, 185126,
       199902, 194943, 194944, 193740, 192065, 185127, 244481, 247035,
       247033, 247034, 237376, 240830, 240831, 244480, 237377, 237378,
       195428, 200212, 198891, 185055, 198051, 194241, 195462, 195459,
       194152, 184669, 192796, 197998, 198842, 195461, 198052, 185056,
       195460, 198053, 192066, 194946, 185456, 185053, 192830, 194154,
       198889, 198888, 200262, 198050, 194153, 184668, 198499, 184670,
       197153, 197154, 194679, 199522, 193023, 184738, 191756, 197981,
       194351, 191459, 193035, 194671, 184730, 184716, 191753, 197152,
       193022, 184626, 184061, 191776, 184769, 184739, 184768, 191775,
       197155, 184749, 193106, 197984, 184644, 199481, 191755, 194632,
       191696, 194631, 199480, 194678, 192968, 184615, 184473, 199521,
       197982, 199495, 197935, 184732, 199494, 192937, 199418, 197110,
       191683, 192967, 184535, 184542, 197910, 192870, 197911, 197090,
       184543, 184337, 193036, 199559, 191757, 199523, 184748, 197983,
       199398, 199397, 199437, 197760, 193738, 193737, 199904, 237379,
       200216, 194105, 185487, 198463, 198464, 197599, 198465, 199948,
       199906, 198772, 197944, 198773, 200154, 198776, 184924, 185396,
       195331, 192753, 200156, 194099, 200155, 198777, 195329, 195330,
       185397, 199905, 194098, 185395, 197943, 184923, 200153, 198775,
       192752, 184922, 197945, 194100, 198778, 237329, 237375, 237373,
       237374, 193739, 240829, 243901, 238333, 198466, 200152, 185393,
       195328, 194097, 185394, 198774, 184921, 198468, 198467, 194945,
       197600, 197809, 184060, 196822, 184094, 197808, 199128, 194680,
       199438, 244575, 244627, 247455, 244195, 238435, 231794, 231795,
       230936, 244156, 238434, 231712, 238433, 244194, 238432, 241282,
       244125, 230935, 237468, 241233, 230934, 237467, 231711, 244153,
       244574, 244154, 241234, 241281, 244126, 238394, 244155, 197704,
       192254, 193867, 197663, 198561, 195001, 192253, 192252, 193918,
       193864, 185183, 185182, 200011, 185185, 198346, 184610, 193570,
       197485, 193677, 199739, 200260, 185539, 192829, 199949, 194947,
       184687, 199950, 198498, 184715, 194670, 195002, 191983, 184611,
       197486, 194654, 184677, 184366, 191740, 184625, 194624, 191742,
       197150, 184678, 191741, 197148, 184645, 197149, 191697, 191739,
       194653, 184365, 197147, 197122, 193021, 193020, 191686, 197151,
       184731, 194623, 191684, 191685, 191754, 197121, 192939, 192818,
       197068, 194593, 194592, 197055, 199357, 194620, 199468, 184354,
       199467, 199360, 197069, 197901, 197900, 197089, 184544, 184206,
       184207, 197759, 184204, 184372, 199227, 197848, 184371, 184101,
       184099, 197091, 197092, 184545, 191626, 184582, 199297, 192858,
       184449, 199260, 194479, 194603, 191682, 199419, 184599, 184614,
       194619, 184583, 192872, 184338, 194587, 192876, 192938, 192875,
       192874, 184598, 191681, 184353, 192873, 191598, 194586, 197934,
       199361, 192871, 197109, 191680, 194602, 199396, 194522, 197030,
       184451, 191599, 192869, 184497, 192867, 199344, 184498, 199356,
       197053, 199343, 184489, 191625, 191585, 194514, 194515, 184329,
       194465, 184448, 197898, 191583, 194464, 191589, 197899, 197054,
       192868, 194562, 184488, 184328, 194559, 194533, 191588, 199331,
       192866, 194523, 191587, 192865, 197052, 197896, 197041, 184471,
       192860, 194534, 184472, 184452, 184302, 199310, 197040, 197880,
       197881, 199309, 194560, 191586, 191553, 192857, 191539, 197897,
       194449, 184283, 191523, 192849, 197019, 199330, 184284, 197870,
       199299, 192859, 184301, 184414, 192834, 191517, 197867, 243898,
       197807, 243899, 231472, 184059, 243900, 240828, 240758, 237328,
       237438, 241231, 241232, 241230, 247232, 247233, 244573, 241187,
       238393, 237440, 247200, 247231, 231710, 237439, 244124, 247198,
       238392, 244552, 237436, 231670, 244122, 241186, 231708, 247199,
       231709, 244098, 230911, 194480, 197029, 191552, 191584, 199298,
       184450, 184266, 199259, 184439, 184438, 192838, 184436, 191522,
       184264, 184417, 192837, 197009, 194437, 192836, 184534, 191540,
       197869, 197011, 194448, 197010, 194350, 192817, 191458, 196821,
       194352, 199130, 196820, 184098, 192822, 191462, 196819, 194353,
       194561, 194428, 184263, 197008, 184415, 197866, 184405, 191516,
       192833, 191497, 194436, 184265, 197018, 192848, 199252, 184437,
       184416, 199251, 197868, 194427, 199230, 192835, 184235, 197865,
       197855, 192827, 196981, 184234, 184262, 194429, 199229, 184404,
       194417, 197007, 194416, 199228, 184058])

In [8]:
print(len(distinct_values))

709

In [9]:
gdf_dropped = gdf.drop(columns=['APN', 'FLAG', 'MAIL_STREE',
       'MAIL_CITY', 'SITUS_STRE', 'SITUS_CITY', 'STREET_NUM', 'STREET_NAM',
       'STREET_TYP', 'CITY', 'ZIP_CODE', 'CLASS_CODE', 'MULTIPLE',
       'SUBDIVISIO', 'ACREAGE', 'RECORDER_M', 'BOOK', 'PAGE', 'MAP_BOOK_P',
       'LOT_TYPE', 'LOT', 'CAME_FROM', 'TAX_RATE_A', 'LAND', 'STRUCTURES',
       'PRIMARY_OW', 'ALL_OWNER_', 'SHAPESTAre', 'SHAPESTLen', 'geometry'])

In [10]:
gdf_dropped

,DBA,Technology,OBJECTID,STREET_PRE,BLOCK_x,STREET_P_1,BLOCK_y
0,VerizonWireless,85,193566,None,None,None,None
1,T-Mobile,80,193566,None,None,None,None
2,AT&T Mobility,86,193566,None,None,None,None
3,T-Mobile,81,193566,None,None,None,None
4,AT&T Mobility,80,193566,None,None,None,None
...,...,...,...,...,...,...,...
4031,AT&T Mobility,86,184058,None,None,None,None
4032,T-Mobile,83,184058,None,None,None,None
4033,T-Mobile,81,184058,None,None,None,None
4034,AT&T Mobility,80,184058,None,None,None,None
4035,Sprint,85,184058,None,None,None,None

In [11]:
grouped_gdf = gdf_dropped.groupby(['OBJECTID','DBA']).agg({
    'Technology': 'max'
}).reset_index()

In [12]:
grouped_gdf

      OBJECTID              DBA  Technology
0       184058    AT&T Mobility          86
1       184058           Sprint          85
2       184058         T-Mobile          83
3       184058  VerizonWireless          85
4       184059    AT&T Mobility          86
...        ...              ...         ...
2531    247233           Sprint          85
2532    247233  VerizonWireless          85
2533    247455    AT&T Mobility          86
2534    247455           Sprint          85
2535    247455  VerizonWireless          85

[2536 rows x 3 columns]

In [13]:
grouped_gdf['max_column3_over_partition'] = grouped_gdf.groupby('OBJECTID')['Technology'].cummax()

In [14]:
grouped_gdf

      OBJECTID              DBA  Technology  max_column3_over_partition
0       184058    AT&T Mobility          86                          86
1       184058           Sprint          85                          86
2       184058         T-Mobile          83                          86
3       184058  VerizonWireless          85                          86
4       184059    AT&T Mobility          86                          86
...        ...              ...         ...                         ...
2531    247233           Sprint          85                          86
2532    247233  VerizonWireless          85                          86
2533    247455    AT&T Mobility          86                          86
2534    247455           Sprint          85                          86
2535    247455  VerizonWireless          85                          86

[2536 rows x 4 columns]

In [15]:
grouped_gdf['Concatenated'] = grouped_gdf['DBA'] + ' : ' + (grouped_gdf['Technology']).astype(str)

In [16]:
grouped_gdf

,OBJECTID,DBA,Technology,max_column3_over_partition,Concatenated
0,184058,AT&T Mobility,86,86,AT&T Mobility : 86
1,184058,Sprint,85,86,Sprint : 85
2,184058,T-Mobile,83,86,T-Mobile : 83
3,184058,VerizonWireless,85,86,VerizonWireless : 85
4,184059,AT&T Mobility,86,86,AT&T Mobility : 86
...,...,...,...,...,...
2531,247233,Sprint,85,86,Sprint : 85
2532,247233,VerizonWireless,85,86,VerizonWireless : 85
2533,247455,AT&T Mobility,86,86,AT&T Mobility : 86
2534,247455,Sprint,85,86,Sprint : 85
2535,247455,VerizonWireless,85,86,VerizonWireless : 85

In [17]:
grouped_gdf['ConcatenatedValue'] = grouped_gdf.groupby(grouped_gdf.columns[0:1].tolist())['Concatenated'].transform(' , '.join)
grouped_gdf['Available_Technology'] = grouped_gdf.groupby(grouped_gdf.columns[0:1].tolist())['DBA'].transform(' , '.join)

In [18]:
grouped_gdf

,OBJECTID,DBA,Technology,max_column3_over_partition,Concatenated,ConcatenatedValue,Available_Technology
0,184058,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
1,184058,Sprint,85,86,Sprint : 85,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
2,184058,T-Mobile,83,86,T-Mobile : 83,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
3,184058,VerizonWireless,85,86,VerizonWireless : 85,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
4,184059,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , VerizonWireless : 85","AT&T Mobility , VerizonWireless"
...,...,...,...,...,...,...,...
2531,247233,Sprint,85,86,Sprint : 85,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2532,247233,VerizonWireless,85,86,VerizonWireless : 85,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2533,247455,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2534,247455,Sprint,85,86,Sprint : 85,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2535,247455,VerizonWireless,85,86,VerizonWireless : 85,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"

In [19]:
grouped_gdf.Available_Technology.unique()

array(['AT&T Mobility , Sprint , T-Mobile , VerizonWireless',
       'AT&T Mobility , VerizonWireless',
       'AT&T Mobility , Sprint , VerizonWireless',
       'AT&T Mobility , T-Mobile , VerizonWireless'], dtype=object)

In [20]:
result_df = grouped_gdf.loc[grouped_gdf.groupby('OBJECTID')['Technology'].idxmax()]

In [21]:
result_df

,OBJECTID,DBA,Technology,max_column3_over_partition,Concatenated,ConcatenatedValue,Available_Technology
0,184058,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
4,184059,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , VerizonWireless : 85","AT&T Mobility , VerizonWireless"
6,184060,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
10,184061,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
14,184094,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
...,...,...,...,...,...,...,...
2522,247200,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , T-Mobile : 80 , VerizonWi...","AT&T Mobility , T-Mobile , VerizonWireless"
2525,247231,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , VerizonWireless : 85","AT&T Mobility , VerizonWireless"
2527,247232,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2530,247233,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2533,247455,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"

In [22]:
len(result_df)

709

In [23]:
filt = result_df[result_df.OBJECTID == 193566]

In [24]:
filt

,OBJECTID,DBA,Technology,max_column3_over_partition,Concatenated,ConcatenatedValue,Available_Technology
978,193566,AT&T Mobility,86,86,AT&T Mobility : 86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."

In [25]:
result_df = result_df.drop(columns=['Concatenated','Technology'])

In [26]:
result_df

,OBJECTID,DBA,max_column3_over_partition,ConcatenatedValue,Available_Technology
0,184058,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
4,184059,AT&T Mobility,86,"AT&T Mobility : 86 , VerizonWireless : 85","AT&T Mobility , VerizonWireless"
6,184060,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
10,184061,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
14,184094,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
...,...,...,...,...,...
2522,247200,AT&T Mobility,86,"AT&T Mobility : 86 , T-Mobile : 80 , VerizonWi...","AT&T Mobility , T-Mobile , VerizonWireless"
2525,247231,AT&T Mobility,86,"AT&T Mobility : 86 , VerizonWireless : 85","AT&T Mobility , VerizonWireless"
2527,247232,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2530,247233,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2533,247455,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"

In [27]:
result_df = result_df.rename(columns={'max_column3_over_partition': 'Signal_Strength', 'DBA' : 'Best_Carrier'})

In [28]:
result_df = result_df.rename(columns={'ConcatenatedValue' : 'Available_Carriers_Strength'})

In [29]:
result_df

,OBJECTID,Best_Carrier,Signal_Strength,Available_Carriers_Strength,Available_Technology
0,184058,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
4,184059,AT&T Mobility,86,"AT&T Mobility : 86 , VerizonWireless : 85","AT&T Mobility , VerizonWireless"
6,184060,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
10,184061,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
14,184094,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , T-Mobile : ...","AT&T Mobility , Sprint , T-Mobile , VerizonWir..."
...,...,...,...,...,...
2522,247200,AT&T Mobility,86,"AT&T Mobility : 86 , T-Mobile : 80 , VerizonWi...","AT&T Mobility , T-Mobile , VerizonWireless"
2525,247231,AT&T Mobility,86,"AT&T Mobility : 86 , VerizonWireless : 85","AT&T Mobility , VerizonWireless"
2527,247232,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2530,247233,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"
2533,247455,AT&T Mobility,86,"AT&T Mobility : 86 , Sprint : 85 , VerizonWire...","AT&T Mobility , Sprint , VerizonWireless"

In [30]:
#file_path = 'join_output_50/part-00003.geojson'
file_path = 'Riverside_Parcel_12.geojson'
# Read the JSON file into a Pandas DataFrame
gdf = gpd.read_file(file_path)

In [31]:
final_df = pd.merge(result_df, gdf, on='OBJECTID', how='left')

In [32]:
import pandas as pd

In [33]:
final_df.columns

Index(['OBJECTID', 'Best_Carrier', 'Signal_Strength',
       'Available_Carriers_Strength', 'Available_Technology', 'APN', 'FLAG',
       'MAIL_STREE', 'MAIL_CITY', 'SITUS_STRE', 'SITUS_CITY', 'STREET_NUM',
       'STREET_PRE', 'STREET_NAM', 'STREET_TYP', 'CITY', 'ZIP_CODE',
       'CLASS_CODE', 'MULTIPLE', 'SUBDIVISIO', 'ACREAGE', 'RECORDER_M', 'BOOK',
       'PAGE', 'MAP_BOOK_P', 'LOT_TYPE', 'LOT', 'BLOCK', 'CAME_FROM',
       'TAX_RATE_A', 'LAND', 'STRUCTURES', 'PRIMARY_OW', 'ALL_OWNER_',
       'SHAPESTAre', 'SHAPESTLen', 'geometry'],
      dtype='object')

In [34]:
final_df = final_df.drop(columns=['OBJECTID', 'FLAG', 'SITUS_STRE', 'SITUS_CITY', 'STREET_NUM',
       'STREET_PRE', 'STREET_NAM', 'STREET_TYP', 'CITY', 'ZIP_CODE',
       'MULTIPLE', 'SUBDIVISIO', 'ACREAGE', 'RECORDER_M', 'BOOK',
       'PAGE', 'MAP_BOOK_P', 'LOT_TYPE', 'LOT', 'BLOCK', 'CAME_FROM',
       'TAX_RATE_A', 'LAND', 'STRUCTURES', 'ALL_OWNER_',
       'SHAPESTAre', 'SHAPESTLen'])

In [35]:
final_df.columns

Index(['Best_Carrier', 'Signal_Strength', 'Available_Carriers_Strength',
       'Available_Technology', 'APN', 'MAIL_STREE', 'MAIL_CITY', 'CLASS_CODE',
       'PRIMARY_OW', 'geometry'],
      dtype='object')

In [36]:
gdf = gpd.GeoDataFrame(final_df, geometry='geometry')

In [37]:
shapefile_path = "final_results.shp"
gdf.to_file(shapefile_path, driver='ESRI Shapefile')

/var/folders/7c/t5z2cmhs79z_0qxbr2j8k3ww0000gn/T/ipykernel_47075/4266816107.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file(shapefile_path, driver='ESRI Shapefile')

In [38]:
len(final_df)

709